<h1><%=t :curriculums_heading %></h1>

<table>
  <% @curriculums.each do |curriculum| %>
    <tr>
      <td><%= link_to curriculum.name, curriculum_url(:id => curriculum) %></td>
    </tr>
  <% end %>
</table> 

<% if can? :create, Curriculum %>
  <p><%= link_to t(:curriculum_new), new_curriculum_path %></p>
<% end %>
