.bundle
db/*.sqlite3
db/sphinx/
tmp/**/*
log/
doc/
public/**/*
.sass-cache
config/database.yml
config/initializers/settings.rb
config/initializers/secret_token.rb
config/*.sphinx.conf
config/sphinx.yml
Gemfile.lock
