<h1><%=t :contributors_heading, :competence => "#{@profile.name(I18n.locale)}, #{@competence.name(I18n.locale)}" %></h1>

<% @courses.each do |row| %>
  <h2><%= row[0].course_code %> <%= row[0].name(I18n.locale) %></h2>
  
  <ul>
    <% row[1].each_value do |skill| %>
      <li><%= skill.localized_name %></li>
    <% end %>
  </ul>
<% end %>
