.course-prereq-matrix {
  font-size: small;
  color: #404040;
  
  border-collapse: collapse;
  border-spacing: 0px;
}


.course-prereq-matrix td {
  border: 1px solid #e0e0e0;
  padding: 2px 2px;
  text-align: center;
}


.course-prereq-matrix tr.spacer {
  border-left: none;
  border-right: none;
  height: 1em;
}

.course-prereq-matrix tr.prereq-course-name {
  background: #e0e0ff;
}

.course-prereq-matrix td.prereq-course-name {
  
  color: black;
  text-align: left;
}

.course-prereq-matrix td.prereq-skill-description {
  padding-left: 1em;
  text-align: left;
}



.course-profile-graph td {
  vertical-align: middle;
  background: none center no-repeat;
}

.course-profile-graph td.course-skills-column, .course-profile-graph td.target-skill-column {
  width: 200px;
}

.course-profile-graph .path td {
  background: url('../images/future-arrow.png') no-repeat right;
  padding-right: 5px;
}

.course-profile-graph .skill {
  display: block;
  border: 1px solid #d0d0d0;
  background: #e0e0ff;
  padding: .2em .5em;
  margin: .5em;
  font-size: small;
}

.course-profile-graph a {
  text-decoration: none;
  color: black;
}
