.course-prereq-matrix {
  font-size: small;
  color: #404040;
  
  border-collapse: collapse;
  border-spacing: 0px;
}


.course-prereq-matrix td {
  border: 1px solid #e0e0e0;
  padding: 2px 2px;
  text-align: center;
}


.course-prereq-matrix tr.spacer {
  border-left: none;
  border-right: none;
  height: 1em;
}

.course-prereq-matrix tr.prereq-course-name {
  background: #e0e0ff;
}

.course-prereq-matrix td.prereq-course-name {
  
  color: black;
  text-align: left;
}

.course-prereq-matrix td.prereq-skill-description {
  padding-left: 1em;
  text-align: left;
}


.course-graph td {
  vertical-align: middle;
  padding: .5em;
  font-family: sans-serif;
  width: 33%;
}

.course-graph .graph-current a {
  border: 2px solid #8080ff;
  font-size: 100%;
  font-weight: bold;
}

.course-graph a {
  display: block;
  border: 1px solid #d0d0d0;
  background: #e0e0ff;
  margin: .5em 0em;
  padding: .2em .5em;
  line-height: 200%;
  text-decoration: none;
  color: black;
  font-size: 90%;
}