html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.error {
  color: #ff0000;
}

.hint {
  color: #a0a0a0;
  font-size: small;
  font-style: italic;
}

ul {
  margin: 0em 0em 0em 1em;
  padding: 0px;
}

li {
  margin: 0em 0em 0em 0em;
  padding: 0px;
}

.selected {
  font-weight: bold;
}

.selected a {
  text-decoration: underline !important;
  color: blue !important;
}

/*************************
  Header
 *************************/

.header {
  background: #f8f8f8;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #e0e0e0;
  display: block;
  position: relative;
}

.header .navibar {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0px 1em;
}

.header ul {
  margin: 0px;
  padding: 0px;
}

.header li {
  display: block;
  float: left;
  background: #e0e0e0;
  margin: 0px 2px;
  padding: .2em;
  font-size: small;
}

.header li a {
  text-decoration: none;
}

.header .login {
  float: right;
  font-size: small;
  margin: .5em;
}

/*************************
  Left navi
 *************************/

.leftNavi {
  /* float: left; */
  width: 20em;
  position: absolute;
  overflow: hidden;
  font-size: small;
  padding: 1em 0em 1em 1em;
}

.leftNavi a {
  color: #404040;
  text-decoration: none;
}

.leftNavi a:hover {
  text-decoration: underline;
}

.leftNavi h2 {
  font-size: 100%;
}

/*************************
  Content
 *************************/

.page {
  margin: 0px 0px 1em 0px;
}

.content {
  margin: 0em 1em 1em 20em;
  padding: 1em;
  border-left: 1px solid #e0e0e0;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  color: gray;
  font-size: small;
}
