body {
  font-size: 9pt;
}

h1 a:visited, h1 a {
  color: black;
  text-decoration: none;
}

.back-link {
  display: none;
}

#header, .topNaviTabs, .leftNavi {
  display: none;
}

.page {

}

.content {
  margin: 0em;
  padding: 0em;
  border: none;
}
