<% @skill.prereq_to.each do |skill| %>
  <% if skill.course %>
    <p class="course">
      <%= link_to h(skill.course.code) + ' ' + h(skill.course.name(I18n.locale)), course_url(:id => skill.course) %>:
      <%= skill.description(I18n.locale) %>
    </p>
  <% else %>
    <p class="profile">
      <%= skill.description(I18n.locale) %>
    </p>
  <% end %>
<% end %>