<% @skill.prereq_to.each do |skill| %>
  <% if skill.skillable_type == 'ScopedCourse' %>
    <p class="course">
      <%= link_to h(skill.skillable.code) + ' ' + h(skill.skillable.name(I18n.locale)), course_url(:id => skill.skillable) %>:
      <%= skill.description(I18n.locale) %>
    </p>
  <% else %>
    <p class="profile">
      <%= skill.description(I18n.locale) %>
    </p>
  <% end %>
<% end %>
