<% @skill.prereqs.each do |skill| %>
  <p>
    <%= skill.competence_node.course_code + ' ' + competence_node.name(I18n.locale) %>:
    <%= skill.competence_node.description(I18n.locale) %><br />
  </p>
<% end %>