<li id="skill-<%= skill.id %>">
  <div class="competence-skill-desc">
    <%= skill.description_with_locale.description %>
  </div>
  <%= link_to t(:Edit), edit_skill_path(skill), 
    :class => "button-base skill-item-button button-small" %> 
  <%= link_to t(:Delete), skill, :method => :delete, :remote => true,
    :class => "button-base skill-item-button button-small" %>
</li> 
