<% if @paths.empty? %>
  <%=t :skill_no_future_path %>
<% else %>
  <table>
    <% @paths.each do |profile_skill, path| %>
      <tr>
        <td class="path-column">
          <table class="path">
            <tr>
              <% path.each do |skill| %>
                <% if skill.competence_nodes.first.type == 'ScopedCourse' %>
                  <td>
                    <div class="skill">
                      <%= skill.competence_nodes.first.course_code + ' ' + skill.competence_nodes.first.name(I18n.locale) %>:
                      <%= skill.description(I18n.locale) %>
                    </div>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </table>
        </td>
        <td class="target-skill-column">
          <div class="skill">
            <%= profile_skill.description(I18n.locale) %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
