IS THIS VIEW DEPRECATED?

app/views/skills/competencepath.html.erb

<% if false %>
  <% if @paths.empty? %>
    <%= t(:skill_no_future_path) %>
  <% else %>
    <table>
      <% @paths.each do |profile_skill, path| %>
        <tr>
          <td class="path-column">
            <table class="path">
              <tr>
                <% path.each do |skill| %>
                  <% if skill.competence_node.type == 'ScopedCourse' %>
                    <td>
                      <div class="skill">
                        <%= skill.competence_node.course_code + ' ' + skill.competence_node.name(I18n.locale) %>:
                        <%= skill.localized_name %>
                      </div>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            </table>
          </td>
          <td class="target-skill-column">
            <div class="skill">
              <%= profile_skill.localized_name %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
