<table>
  <% @paths.each do |profile_skill, path| %>
    <tr>
      <td class="path-column">
        <table class="path">
          <tr>
            <% path.each do |skill| %>
              <% if skill.skillable_type == 'ScopedCourse' %>
                <td>
                  <div class="skill">
                    <%= skill.skillable.code + ' ' + skill.skillable.name(I18n.locale) %>:
                    <%= skill.description(I18n.locale) %>
                  </div>
                </td>
              <% end %>
            <% end %>
          </tr>
        </table>
      </td>
      <td class="target-skill-column">
        <div class="skill">
          <%= profile_skill.description(I18n.locale) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>