<% content_for :javascript do %>
  <% #= javascript_include_tag 'profileCourseView' 
  %>
<% end %>

<h1><%=h @course.code %> <%=h @course.name(I18n.locale) %></h1>

<table class="course-profile-graph">
  <thead>
    <td>Provides</td>
    <td>Needed by</td>
  </thead>

  <tbody>
    <tr>
      <td class="course-skills-column">
        <% @course.skills.each do |skill| %>
          <div class="skill">
            <%= link_to skill.description(I18n.locale), profilepath_skill_path(:id => skill, :profile_id => @profile), :remote => true, :id => "skill-#{skill.id}" %>
          </div>
        <% end %>
      </td>
      <td id="skill-future"></td>
    </tr>
  </tbody>
</table>


<%= render :partial => '/courses/prereq_to' %>
