<h2>
  <%= link_to t('.heading'), studyplan_courses_path %>
</h2>

<%=
  render(
    partial: 'course_table',
    locals: {
      courseTable: 'unscheduledCoursesTable',
      short: true
    }
  )
%>

<br/>

<%=
  render(
    partial: 'course_table',
    locals: {
      courseTable: 'scheduledCoursesTable',
      short: true
    }
  )
%>

<br/>

<%=
  render(
    partial: 'course_table',
    locals: {
      courseTable: 'passedCoursesTable',
      short: true
    }
  )
%>
