<h2><%=t('.heading')%></h2>

<div>
  <%= render :partial => 'course_listing', :locals => { :heading => t('.unscheduled_courses_heading'), :courses => @unscheduled_courses, :short => true, :list_periods => false } %>
</div>

<br/>

<div>
  <%= render :partial => 'course_listing', :locals => { :heading => t('.scheduled_courses_heading'), :courses => @scheduled_courses, :short => true, :list_periods => true } %>
</div>

<br/>

<div>
  <%= render :partial => 'course_listing', :locals => { :heading => t('.passed_courses_heading'), :courses => @passed_courses, :short => true } %>
</div>




