<h1>Opiskelijaa ohjaava opinto-opas (O<sub>4</sub>) /<br />
Software for target oriented personal syllabus (STOPS)</h1>

<p>
<em>STOPS</em> is a tool for study planning and curriculum development.
As the system is in prototype phase, please confirm the official requirements for your degree program using the <a target="_blank" href="http://studyguides.aalto.fi/">study guide</a>.
</p>
