<h2>
  <%= link_to t('.heading'), studyplan_schedule_path %>
</h2>


<div class="row-fluid">


  <div class="span4">
    <%=
      render(
        partial: 'course_table',
        locals: {
          courseTable: 'currentCoursesTable',
          short: true,
          period: 'currentPeriod()'
        }
      )
    %>
  </div>

  <div class="span4">
    <%=
      render(
        partial: 'course_table',
        locals: {
          courseTable: 'upcomingCoursesTable',
          short: true,
          period: 'currentPeriod().nextPeriod'
        }
      )
    %>
  </div>

</div>
