<!-- Frontpage -->
<div class="floatbox">
  <%= render :partial => 'curriculums/index' %>
</div>


<% if false && !logged_in? %>
  <div class="floatbox">
    <h1><%=t :login_heading %></h1>
    
    <%= render :partial => 'sessions/login' %>
  </div>
<% end %>
