<p>O<sup>4</sup> on työkalu ja henkilökohtaisten opintosuunnitelmien laatimiseen ja koulutusohjelman suunnitteluun.</p>

<% unless logged_in? %>
  <%= render :partial => 'sessions/login' %>
<% end %>
