<h1><%= t('.heading') %></h1>

<p><%= t('.welcome', :name => @user.name) %></p>

<div class="row-fluid">
  <div class="span4">
  </div>
  <div class="span4">
    <%= render :partial => 'curriculums/index' %>
  </div>
</div>
