////////////////////////////////////////////////////////////////////////////////
// views/plans/courses/index.css.less
//
// The Less spec for the view.
//




////////////////////////////////////////////////////////////////////////////////
// Imports

@import "layouts/browser.less";
@import "views/plans/courses.css.less";


////////////////////////////////////////////////////////////////////////////////
// View specific styling


////////////////////////////////////////////////////////////////////////////////
// Altering the layout

//@layoutMaxWidth:    1600px;
@sidebarWidth:       450px;
@sidebarWidthWide:   550px;


////////////////////////////////////////////////////////////////////////////////
// View specific styling

#theleft .well
{
  h1 > h1
  {
    margin-top: 0px;
  }
}

#themain
{
  div.controls
  {
    margin-bottom: 3em;

    input
    {
      width: 80%;
    }

    button
    {
      width: 80%;
    }
  }

  div.courses
  {
    //.container-fluid;
    //text-align: center;
    //max-width: 600px;

    div.course
    {
      border-top: 1px solid #CCC;
      //.border-radius(4px);
      a
      {
        color: #333;
      }

      &.passed a
      {
        color: #363;
      }

      &.included a
      {
        color: #93A;
      }

      &.passed.included a
      {
        color: #0A0;
      }

      &.scheduled a
      {
        color: #00A;
      }

      &.selected
      {
        background: #DDF;
      }
    }
  }
}




////////////////////////////////////////////////////////////////////////////////
