////////////////////////////////////////////////////////////////////////////////
// views/plans/courses/index.css.less
//
// The Less spec for the view.
//




////////////////////////////////////////////////////////////////////////////////
// Imports

@import "layouts/browser.less";
@import "views/plans/courses.css.less";


////////////////////////////////////////////////////////////////////////////////
// View specific styling


////////////////////////////////////////////////////////////////////////////////
// Altering the layout

@layoutMaxWidth:  1500px;
@sidebarWidth:    500px;


////////////////////////////////////////////////////////////////////////////////
// View specific styling

div.search-query
{
  margin-bottom: 3em;

  input
  {
    width: 400px;
  }
}

div.search-results-container
{
  //.container-fluid;
  //text-align: center;
  max-width: 600px;

  div.result
  {
    border-top: 1px solid #CCC;
    //.border-radius(4px);
    span.credits
    {
      //border: 1px solid red;
    }
  }
}




////////////////////////////////////////////////////////////////////////////////
