<script type="text/html" id="courseTemplate"><div class="course" data-bind="position: position, css: {competence: isCompetence, cyclic: isCyclic}">
  <h1><!-- ko text: course_code --><!-- /ko --> <!-- ko text: name --><!-- /ko --></h1>
  <!-- ko if: isCyclic -->
    <%=t '.cyclic_warning' %>
  <!-- /ko -->
  
  <ul data-bind="foreach: skills">
    <!-- ko template: { name: 'skillTemplate', if: visible, afterRender: $root.updateElementDimensions } --><!-- /ko -->
  </ul>
</div></script>

<script type="text/html" id="skillTemplate"><li class="skill" data-bind="text: name, css: {hilight: highlighted}"></li></script> 
