<% prereqs = course.recursive_prereq_courses %>
<% if prereqs.empty? %>
  <p><%=t :course_no_prereqs %></p>
<% else %>
  <ul>
    <% prereqs.each do |prereq_course| %>
      <li><%= link_to prereq_course.course_code + ' ' + prereq_course.localized_name, {:id => prereq_course} %></li>
    <% end %>
  </ul>
<% end %>
