<% if @course.strict_prereqs.empty? %>
  <p><%=t :course_no_prereqs %></p>
<% else %>
  <ul>
    <!-- Prereq courses -->
    <% @course.strict_prereqs.each do |prereq_course| %>
      <li><%= link_to prereq_course.code + ' ' + prereq_course.name(I18n.locale), {:id => prereq_course} %></li>
    <% end %>
  </ul>
<% end %>
