<% if @course.prereq_to.empty? %>
  <%=t :course_no_future %>
<% else %>
  <ul>
    <% @course.prereq_to.each do |course| %>
      <li>
        <%= link_to course.course_code + ' ' + course.name(I18n.locale), {:id => course.id} %>
      </li>
    <% end %>
  </ul>
<% end %>
