<% unless @course.prereq_to.empty? %>
  <h2><%=h @course.code %> <%=h @course.name(I18n.locale) %> <%=t :course_strict_prereq_of %></h2>
  <ul>
    <% @course.prereq_to.each do |course| %>
      <li>
        <%= link_to h(course.code) + ' ' + h(course.name(I18n.locale)), {:id => course.id} %>
      </li>
    <% end %>
  </ul>
<% end %>
