<table class="course-graph">

  <thead>
    <td>Prereqs</td>
    <td></td>
    <td>Future</td>
  </thead>

  <tbody>
    <tr>
      <td class="graph-prereqs">
        <% @course.strict_prereqs.each do |prereq_course| %>
          <%= link_to prereq_course.code + ' ' + prereq_course.name(I18n.locale), graph_course_url(:id => prereq_course) %>
        <% end %>
      </td>

      <td class="graph-current">
        <%= link_to @course.code + ' ' + @course.name(I18n.locale), graph_course_url(:id => @course.id) %>
      </td>

      <!-- Prereq courses -->
      <td class="graph-future">
        <% @course.prereq_to.each do |course| %>
          <%= link_to course.code + ' ' + course.name(I18n.locale), graph_course_url(:id => course.id) %>
        <% end %>
      </td>
  </tbody>
</table>