<h1><%=t :courses_heading %></h1>

<table>

  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to h(course.code) + ' ' + course.name(I18n.locale), course_url(:id => course.id) %></td>
      <td><% #= link_to 'Edit', edit_course_path(course) 
      %></td>
      <td><% #= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete 
      %></td>
    </tr>
  <% end %>
</table>
