
<table class="course-skill-dependencies">
  <thead>
    <tr>
      <td>Esitietokurssi</td>
      <td>Jatkokurssi</td>
    </tr>
  </thead>
  <tbody>
    <% @prereq_skills.each do |prereq_skill| %>
      <tr>
        <td><%= prereq_skill.localized_description %></td>
        <td>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>