@import "general_mixins";

.course-prereq-matrix {
  font-size: small;
  color: #404040;

  border-collapse: collapse;
  border-spacing: 0px;
}


.course-prereq-matrix td {
  border: 1px solid #e0e0e0;
  padding: 2px 2px;
  text-align: center;
}


.course-prereq-matrix tr.spacer {
  border-left: none;
  border-right: none;
  height: 1em;
}

.course-prereq-matrix tr.prereq-course-name {
  background: #e0e0ff;
}

.course-prereq-matrix td.prereq-course-name {

  color: black;
  text-align: left;
}

.course-prereq-matrix td.prereq-skill-description {
  padding-left: 1em;
  text-align: left;
}



.course-profile-graph td {
  vertical-align: middle;
  background: none center no-repeat;
}

.course-profile-graph td.course-skills-column, .course-profile-graph td.target-skill-column {
  width: 200px;
}

.course-profile-graph .path td {
  background: url('../images/future-arrow.png') no-repeat right;
  padding-right: 5px;
}

.course-skill-dependencies .course {
  border: 1px solid #8080a0;
  background: #e0e0ff;
  -moz-border-radius: 10px;
  margin: 1em .5em;
  padding: .2em .4em;
}

.course-skill-dependencies .competence {
  border: 1px solid #80a080;
  background: #e0ffe0;
  -moz-border-radius: 10px;
  margin: 1em .5em;
  padding: .2em .4em;
}


.course-profile-graph .skill, .course-skill-dependencies .skill {
  display: block;
  border: 1px solid #d0d0d0;
  background: #f0f0ff;
  padding: .2em .5em;
  margin: .5em 0em;
  font-size: small;

}

.course-profile-graph .skill.click-hint {
  background: #f0f0ff url('../images/future-arrow.png') no-repeat right;
}

.course-skill-dependencies a.skill {
  text-decoration: none;
  color: black;
}

.course-profile-graph a {
  text-decoration: none;
  color: black;
}


.course-skill-dependencies .supporting {
  color: gray;
}



.course-profile-graph .dim, .course-skill-dependencies .dim {
  border: none !important;
  background: #f0f0f0 !important;
  color: gray !important;
}



/********************
  Graph
 ********************/

#course-graph div.course {
  position: absolute;
  width: 500px;
  font-size: 11px;
  font-family: sans-serif;
  border: 1px solid #8080a0;
  background: #e0e0ff;
  -moz-border-radius: 4px;
  padding: 2px;
  margin: 0px;
  cursor: pointer;
}

#course-graph div.competence {
  background: #e0ffe0;
}

#course-graph div.course h1 {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

#course-graph div.course ul {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

#course-graph div.course li {
  display: block;
  padding: 1px;
  margin: 0px 0px;
  border-top: 1px solid #d0d0d0;
  background: #f0f0ff;
}

#course-graph div.course li.hilight {
  background: #c0c0ff;
}

#svg {
  /*border: 1px solid red;*/
  z-index: 1;
}

#course-graph {
  z-index: 2;
}

svg {
  /*border: 1px solid green;*/
}


/********************
 * Competence editing
 *******************/


#skills li {
/*  border: 1px solid;  */
  width: 40em;
  margin-bottom: 1em;
  overflow-y: auto;
  
  }

#skills li div {
  display: inline-block;
  width: 28em;
  margin: 0;
  padding: 3px 5px 3px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.0);
  -webkit-border-radius: 6px;
  -webkit-transition: border linear 0.5s, box-shadow linear 0.5s;
  
  &:hover {
    border: 1px solid #5295C3;
    -webkit-box-shadow: 0 0 12px #5295C3; 
    -webkit-transition: border linear 0.5s, box-shadow linear 0.5s;
  }
  
}

.absolute {
  position: absolute;
}

.skill-item-button {
  float: right;
  margin: 5px 10px 5px 0;
  /*padding: 4px 10px;*/
  /*font-size: 14px;*/
}

$new-skill-box-color: #9EC2DB;
$new-skill-box-border-color: #337070;
$new-skill-box-font-color: #24765C;

#new-skill-box {
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 35px;
  padding-bottom: 15px;
  background-color: $new-skill-box-color;
  border-radius: 4px; 
  -webkit-border-radius: 5px;
  border: 1px solid $new-skill-box-border-color;
  width: 40em;
  margin: 0 0 15px 0;
  color: #276A99;
}

.new-skill-box-header h4 { 
  margin: 0 0 10px; 
}

.new-skill-box-footer {
  margin: 10px 0 0;
  text-align: right;
}

.new-skill-close {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  top: -10px;
  right: -22px;
  float: right;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  opacity: 0.5;
  background: transparent;
  color: #A66F28;
}


.new-skill-field-group {
  @include clearfix; 
  margin-bottom: 10px;
  input {
    width: 450px;
    padding: 3px 3px 3px;
    border: 1px solid;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  }
}

.new-skill-label {
  float: left;
  width: 120px;
  text-align: right;
  margin: 0 0 5px 0;
  padding: 5px 0 0;
}

.new-skill-field {
  margin-left: 140px;
  padding: 5px 0 0;
}


/****************************************
* Skill editing - add new prerequirements
****************************************/

#skill-search-box {
  width: 600px;
  height: 18px;
  padding: 3px 3px 3px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 40px;
}

.skill-add-prereq-button {
    /* Placeholder */
  }

  $prereq_remove_light_color:   #8F1F1F;
  $prereq_remove_dark_color:    #9C2222;
  $prereq_remove_active_color:  #DB3030;

.skill-remove-prereq-button {
  background-color: $prereq_remove_light_color;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, $prereq_remove_light_color, $prereq_remove_dark_color);
  background-image: -moz-linear-gradient(top, $prereq_remove_light_color, $prereq_remove_dark_color);
  background-image: -o-linear-gradient(top, $prereq_remove_light_color, $prereq_remove_dark_color);
  background-image: -ms-linear-gradient(top, $prereq_remove_light_color, $prereq_remove_dark_color);
  background-image: linear-gradient(top, $prereq_remove_light_color, $prereq_remove_dark_color);

  &:hover {
    background-color: $prereq_remove_light_color;
  }

  &:active {
    background-color: $prereq_remove_active_color;
  }
}

table.search-results {

  tr {

  }

  tr.skill-search-result {
    background: #B0DAFF;
  }
  th {
    padding: 8px 10px 8px;
    text-align: left;
  }

  td {
    padding: 4px 14px;
  }

  
}

/* Current prerequirements listing */
table#skill-current-prereqs {
  th.skill-prereq-course {
    text-align: left;
    background-color: #DDB97F; /* Best so far: rgba(189, 116, 0, 0.5)  */
    padding: 4px 5px;
  }

  .skill-prereq-skill {
    padding-top:    6px;
    padding-left:   15px;
    padding-bottom: 6px;
  }

  /* Matches remove button of a prereq skill */
  td.skill-prereq-skill + td {
    padding: 4px 14px;
  }

}


#skill-endless-pagination-footer {
  height: 120px;
  border: 0;
  text-align: center;
}

#skill-endless-pagination-hint {

}

#skill-endless-pagination-loading {

}
