.course-prereq-matrix {
  font-size: small;
  color: #404040;

  border-collapse: collapse;
  border-spacing: 0px;
}


.course-prereq-matrix td {
  border: 1px solid #e0e0e0;
  padding: 2px 2px;
  text-align: center;
}


.course-prereq-matrix tr.spacer {
  border-left: none;
  border-right: none;
  height: 1em;
}

.course-prereq-matrix tr.prereq-course-name {
  background: #e0e0ff;
}

.course-prereq-matrix td.prereq-course-name {

  color: black;
  text-align: left;
}

.course-prereq-matrix td.prereq-skill-description {
  padding-left: 1em;
  text-align: left;
}



.course-profile-graph td {
  vertical-align: middle;
  background: none center no-repeat;
}

.course-profile-graph td.course-skills-column, .course-profile-graph td.target-skill-column {
  width: 200px;
}

.course-profile-graph .path td {
  background: url('../images/future-arrow.png') no-repeat right;
  padding-right: 5px;
}

.course {
  border: 1px solid #8080a0;
  background: #e0e0ff;
  border-radius: 10px;
  margin: 1em .5em;
  padding: .2em .4em;
}

.competence {
  border: 1px solid #80a080;
  background: #e0ffe0;
  -moz-border-radius: 10px;
  margin: 1em .5em;
  padding: .2em .4em;
}


.course .skill, .competence .skill {
  display: block;
  border: 1px solid #d0d0d0;
  background: #f0f0ff;
  padding: .2em .5em;
  margin: .5em 0em;
  font-size: small;
  
  &.selected {
    background: #a0a0ff;
    border: 1px solid #8080ff;
  }

  .supportingPrereqButton, .strictPrereqButton {
    background: #ddd;
    border: 1px solid #888;
    border-radius: 2px;
    padding: 0px 2px;
    cursor: pointer;
  }
}

.skill.supporting {
  .supportingPrereqButton {
    background: #aaf;
    border: 1px solid #88f;
  }
}
.skill.strict {
  .strictPrereqButton {
    background: #88f;
    border: 1px solid #00f;
  }
}


.course-profile-graph .skill.click-hint {
  background: #f0f0ff url('../images/future-arrow.png') no-repeat right;
}

.course-skill-dependencies a.skill {
  text-decoration: none;
  color: black;
}

.course-profile-graph a {
  text-decoration: none;
  color: black;
}


.course-skill-dependencies .supporting {
  color: gray;
}



.course-profile-graph .dim, .course-skill-dependencies .dim {
  border: none !important;
  background: #f0f0f0 !important;
  color: gray !important;
}



/********************
  Graph
 ********************/

#course-graph div.course {
  position: absolute;
  width: 500px;
  font-size: 11px;
  font-family: sans-serif;
  border: 1px solid #8080a0;
  background: #e0e0ff;
  -moz-border-radius: 4px;
  padding: 2px;
  margin: 0px;
  cursor: pointer;
}

#course-graph div.competence {
  background: #e0ffe0;
}

#course-graph div.course h1 {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

#course-graph div.course ul {
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

#course-graph div.course li {
  display: block;
  padding: 1px;
  margin: 0px 0px;
  border-top: 1px solid #d0d0d0;
  background: #f0f0ff;
}

#course-graph div.course li.hilight {
  background: #c0c0ff;
}

#svg {
  /*border: 1px solid red;*/
  z-index: 1;
}

#course-graph {
  z-index: 2;
}

svg {
  /*border: 1px solid green;*/
}



/**************
/plans/courses
***************/

table.plans-own-courses td {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

.course-completed a:link, .course-grade {
  color: #00630C;
}

.course-completed a:visited {
  color: #00B015;
}

