@import "general_mixins";

html {
  height: 100%;
}

body {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

ul {
  margin: 0em 0em 0em 1em;
  padding: 0px;
}

.error {
  color: #ff0000;
}

.hint {
  color: #a0a0a0;
  font-size: small;
  font-style: italic;
}

.clear {
  clear: both;
}

a.bigNavibutton {
  display: block;
  float: left;
  width: 10em;
  height: 10em;

  background: #928B81;
  /* border: 1px solid #e0e0e0; */
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 1em;
  padding: .5em;

  color: white;
  text-decoration: none;
  font-size: small;
}

a.bigNavibutton:hover {
  text-decoration: underline;
}

div.admin-tools {
  float: right;
  overflow: hidden;
  width: 10em;
  padding: 8px 0px;
  //border: 1px solid #e0e0e0;
  //background: #f0f0f0;
}

/* Bootstrap nav-list styling is in use instead of these */
.admin-tools ul {
  //list-style: none;
  //margin: 0px;
  //padding: 0px;
}

.admin-tools li {
  //margin: 0px;
  //padding: 0px;
}

.admin-tools a {
  //color: black;
  //font-size: small;
}

div.progress {
  margin: 0px auto;
  padding: 0px;
  width: 24px;
  height: 24px;
  background: url('../images/progress.gif');
}

tr.odd {
  background: #ddf;
}


/******************
 * Headings
 ******************/

h1 {
  font-family: sans-serif;
  font-size: 180%;
  margin: 2em 0em .5em 0em;
}

h2 {
  font-family: sans-serif;
  font-size: 120%;
  margin: 2em 0em .5em 0em;
}

h3 {
  font-family: sans-serif;
  font-size: 100%;
  margin: 2em 0em .5em 0em;
}

h1 + h2, h1 + h3, h2 + h3 {
  margin-top: 1em;
}

h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0px;
}

h4.colorful {
  color: #F06118;
  border-bottom: 1px solid #704500;
}

/* Container which inlines headings, allowing other elements to be
 * added inline with the heading. */
.inline-heading-container {
  * {
    display:        inline-block;
    margin-right:   10px;
  }

  a.vertical-fix {
    position: relative;
    top:      -5px;
  }
}


/************************
* General utility classes
************************/

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

/* Micro clearfix hack
   source: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  @include clearfix;
}

.centered {
  text-align: center;
}

.placeholder {
  font-style:   italic;
  color:        gray;
  font-size:    0.9em;
  font-family:  Arial, sans-serif;
}

.full-height {
  height: 100%;
}

.scroll-vertical {
  overflow-y: scroll;
}

/*******************
*  Generic tables
********************/

$table_radius: 6px;
table.basic-table {
  text-align:       left;
  line-height:      1.3em;
  border-collapse:  separate;
  margin:           1.1em 1.1em 1.1em 0;

  thead {
    background-color: whitesmoke;

    tr {


      th {
        padding:      10px 8px;
        border-style: solid;
        border-color: gray;
        border-width: 1px 1px 1px 0;

        &:first-child {
          @include border-radius($table_radius 0 0 0);
          border-left: 1px solid gray;
        }

        &:last-child {
          @include border-radius(0 $table_radius 0 0);
        }

        &:only-child {
          @include border-radius($table_radius $table_radius 0 0);
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-style: solid;
        border-color: gray;
        border-width: 0 1px 1px 0;
        padding:      6px 8px;

        &:first-child {
          border-left: 1px solid gray;
        }
      }

      &:last-child {
        td:first-child {
          @include border-radius(0 0 0 $table_radius);
        }

        td:last-child {
          @include border-radius(0 0 $table-radius 0);
        }

        td:only-child {
          @include border-radius(0 0 $table_radius $table_radius);
        }
      }
    }
  }
}


/******************
 * Buttons
 *****************/

$button_light_color: #3BA3D0;
$button_dark_color: #225E79;
$button_active_color: #024A68;

$button_danger_light_color:   #DB3030;
$button_danger_dark_color:    #9C2222;
$button_danger_active_color:  #8F1F1F;

.button-base {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 0.357em 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  /*background-color: */
  color: white;
  font-size: 0.875em;
  background-color: $button_light_color;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, $button_light_color, $button_dark_color);
  background-image:    -moz-linear-gradient(top, $button_light_color, $button_dark_color);
  background-image:     -ms-linear-gradient(top, $button_light_color, $button_dark_color);
  background-image:      -o-linear-gradient(top, $button_light_color, $button_dark_color);
  background-image:         linear-gradient(top, $button_light_color, $button_dark_color);
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button-base:hover {
  background-color: $button_light_color;
  /*background-image: none;*/
  background-position: 0 15px;
  /*background-position: 0% -100%;*/
}

.button-base:active {
  background-image: none;
  background-color: $button_active_color;
}

.button-large {
  font-size: 1.0em;
}

.button-small {
  font-size: 11px;
  padding: 2px 9px;
}

.button-small-abs {
  @extend .button-small;
  line-height:  13px;
}


.button-success {

}

.button-warning {

}

.button-danger {
  background-color: $button_danger_light_color;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, $button_danger_light_color, $button_danger_dark_color);
  background-image:    -moz-linear-gradient(top, $button_danger_light_color, $button_danger_dark_color);
  background-image:     -ms-linear-gradient(top, $button_danger_light_color, $button_danger_dark_color);
  background-image:      -o-linear-gradient(top, $button_danger_light_color, $button_danger_dark_color);
  background-image:         linear-gradient(top, $button_danger_light_color, $button_danger_dark_color);

  &:hover {
    background-color: $button_danger_light_color;
  }

  &:active {
    background-color: $button_danger_active_color;
  }
}

.button-disabled,
.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  background-color: $button_dark_color;
  background-image: none;
  cursor: default;
  opacity: 0.7;
}

/******************
* Information boxes
*******************/

$info_box_base_color:     #9FD7ED;
$info_box_border_color:   #749DAD;
$info_box_text_color:     #285A6D;

$error_info_base_color:   #F5BDBC;
$error_info_border_color: #EDAAA8;
$error_info_text_color:   #E8413F;

div.info {
  @include border-radius(4px);
  background-color: $info_box_base_color;
  color:            $info_box_text_color;
  font-family:      Helvetica, sans-serif;
  border:           1px solid $info_box_border_color;
  padding:          8px 8px;
  margin-bottom:    15px;
  width:            400px;
  font-size:        13px;
}

div.long-info{
  width: 100%;
  box-sizing: border-box;
}

div.error-info {
  background-color: $error_info_base_color;
  border:           1px solid $error_info_border_color;
  color:            $error_info_text_color;
}



/* Specialized error info box for /curriculums/:id/competences/:id/edit view */
div.skill-error-info {
  @extend div.info;
  padding-left:   57px;
  padding-right:  20px;
  position:       relative;
  min-height:     35px;

  div.skill-error-image {
    @include border-radius(3px);
    background-color: red;

    width:   29px;
    height:  24px;
    padding: 4px;

    position: absolute;
    left:     10px;

    img {
      width:  29px;
      height: 24px;
      margin: 0px;
    }
  }

  div.skill-error-contents {

  }
}


/* Specialized error info box for /curriculums/:id/edit view */
div.course-error-info {
  @extend div.info;
  padding-left:   57px;
  padding-right:  20px;
  position:       relative;
  min-height:     35px;

  div.course-error-image {
    @include border-radius(3px);
    background-color: red;

    width:   29px;
    height:  24px;
    padding: 4px;

    position: absolute;
    left:     10px;

    img {
      width:  29px;
      height: 24px;
      margin: 0px;
    }
  }

  div.course-error-contents {

  }
}


/******************
 * Flash messages
 ******************/

.flash {
  padding: 4px;
  margin: .6em 0em;
  -moz-border-radius: 6px;
}

.flashNotice {
  color: gray;
  text-decoration: italic;
}

.flashAlert {
  color: gray;
  text-decoration: italic;
}

.flashWarning {
  color: black;
  background: #FFFFBB;
  border: 1px solid #808000;
}

.flashSuccess {
  color: black;
  background: #BBFFBB;
  border: 1px solid #008000;
}

.flashError {
  color: black;
  background: #FFBBBB;
  border: 1px solid #B00000;
}


/*************************
  Header
 *************************/

/* New header */

.navbar {
  .lang-link {

    display: inline-block;

    & + .lang-link {
      padding-left:   5px;
      padding-right:  5px;
    }

    &:first-child {
      padding-right:  5px;
    }

    &:last-child {
      padding-left:   5px;
      padding-right:  15px;
    }
  }

  .navbar-text {
    .upper-text {
      line-height:    12px;
      font-size:      12px;
      margin-bottom:  0px;
    }

    .lower-text {
      line-height:    28px;
      font-size:      14px;
      margin-bottom:  0px;
    }
  }
}


/* Old header */

.header {
  /*background: #f8f8f8;*/
  background: #0065BD;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e0e0e0;
  display: block;
  position: relative;
}

.header .navibar {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 0px 1em;
}

.header ul {
  margin: 0px;
  padding: 0px;
}

.header li {
  display: block;
  float: left;
  background: #928B81; /*#e0e0e0;*/
  margin: 0px 2px;
  padding: .2em;
  font-size: small;
  color: white;
}

.header li a {
  text-decoration: none;
  color: white;
}

.header .logo {
  margin: 0px 0px 0px 20px;
  color: white;
  font-family: serif;
  font-weight: bold;
  line-height: 40px;
}

.header .logo .o4 {
  font-size: 200%;
}

.header .logo .program-name {
  font-size: 1em;
}

.header .logo sup {
}

div.current-user {
  position:absolute;
  right: 0px;
  font-size: small;
  padding-right: 1em;
}



/*************************
  Left navi
 *************************/

.leftNavi {
  /* float: left; */
  width: 23.38em; /* orignal 20em */
  position: absolute;
  overflow: hidden;
  font-size: 0.8125em;
  padding: 1em 0em 1em 1em;
}

.leftNavi a {
  color: #404040;
  text-decoration: none;
}

.leftNavi a:hover {
  text-decoration: underline;
}

.leftNavi h2 {
  font-size: 100%;
}

.leftNavi .selected {
  font-weight: bold;
}

.leftNavi .selected a {
  text-decoration: underline !important;
  color: blue !important;
}

/*************************
  Controls
**************************/

#schedule-controls-container {
  h2 {
    font-size: 1.2308em;
  }


  .control-block {
    margin-bottom: 1.9231em;
  }

  .hidden {
    display: none;
  }

  .control-group {
     margin-bottom: 0.75em;
  }

  .control-group label {
    float: left;
    max-width: 17em;
  }

  .control-group input {
    display: inline;
  }

  .control-group img {
    margin-left: 1.538em;
  }

  .control-group .controls {
    margin-left: 17em;
  }

  .control-course-code {

  }
}

/* General controls */

.form-control-group {
  margin-bottom: 20px;
}

.form-label {
  width:          140px;
  float:          left;
  padding-top:    5px;
  margin-bottom:  5px;
  text-align:     right;
}

.form-controls {
  margin-left: 160px;
}

.field-lengthy {
  width: 300px;
}

/*************************
  Content
 *************************/

.page {
  margin: 0px 0px 1em 0px;
}

.content {
  margin: 0em 1em 1em 20em;
  padding: 1em;
  border-left: 1px solid #e0e0e0;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  color: gray;
  font-size: small;
}



/*****************
  Prereq graph
 *****************/
.course-graph td {
  vertical-align: middle;
  padding: .5em;
  font-family: sans-serif;
  /*width: 33%;*/
}

.course-graph .graph-current a {
  border: 2px solid #8080ff;
  font-size: 100%;
  font-weight: bold;
}

.course-graph p {
  display: block;
  border: 1px solid #d0d0d0;
  background: #e0e0ff;
  margin: .5em 0em;
  padding: .2em .5em;
  font-size: small;
}

.course-graph a {
  text-decoration: none;
  color: black;
}



/*****************
  Top navi
 *****************/

.topNaviTabs {
  clear: both;
  margin: 0em auto;
}

.topNaviTabs ul {
  display: block;
  float: left;

  text-align: center;
  text-align: center;
  margin: 1em 1em;
  padding: 0px 10px;

  -moz-border-radius: 15px;
  border: 1px solid gray;
  background: #928B81;
  color: white;
  /*border-right: 1px solid gray;
  border-bottom: 1px solid gray;*/
}

.topNaviTabs li {
  display: inline;

  /*border: 1px solid red;*/
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin: 0px;
  padding: 0px;
}

.topNaviTabs li.selected {
  background: blue;
}

.topNaviTabs li:hover {
  text-decoration: underline;
}

.topNaviTabs a {
  font: sans-serif;
  font-size: 120%;
  color: white;
  line-height: 150%;
  padding: 1em;
  margin: 0px;
  text-decoration: none;
}

/*****************
  Course path
 *****************/

table.course-path {
  margin: 1em 0em;
}

table.course-path td.prereqs, table.course-path td.current {
  vertical-align: middle;
  background: url('../images/future-arrow.png') no-repeat right;

  padding-right: 30px;
}

table.course-path td.current, table.course-path td.future {
  padding-left: 20px;
}

table.course-path td.current {
  font-size: larger;
  font-weight: bold;
}


/*********************
  Skill matrix editor
 *********************/

table.skill-matrix-editor {
}

table.skill-matrix-editor td {
  border: 1px solid #eee;
  font-size: small;
  text-align: center;
}

table.skill-matrix-editor thead {
  background: #eee;
}

table.skill-matrix-editor thead td {
  text-align: left;
  vertical-align: bottom;
}

table.skill-matrix-editor tr.course {
  background: #bbf;
  text-align: left;
}

table.skill-matrix-editor td.skill {
  text-align: left;
}

/************
 Competences
 ************/

div.competence {
  position: relative;
  border: 1px solid #888;
  background: #eee;
  -moz-border-radius: 20px;
  margin: 0px 0px 20px 0px;
  padding: 10px 20px 10px 20px;
}

div.competence > p {
  margin: 0px 0px 1em 0px;
}

div.competence.selected {
  border: 5px solid #303090;
  background: #e1e1ff;
}

div.competence .buttons {
  float: right;
  top: 10px;
  left: 0px;
}

div.competence h2 {
  font-size: 150%;
  margin-top: 0px;
  padding-top: 0px;
}

div.competence li {
  margin-bottom: .5em;
}

div.competence .competence-skills, div.competence .competence-courses {
  font-size: small;
  float: left;
  width: 40em;
  margin: 0px 10px 10px 0px;
}

/*********************
  Generic course list
 *********************/

table.course-list {
  font-size: small;
}

table.course-list td {
  padding-right: 1em;
}

table.course-list tr.total {
  font-size: large;
  font-weight: bold;
}

table.course-list tr.total td {
  padding-top: 1em;
}


.competence-supporting-courses .course {
  border: 1px solid #8080a0;
  background: #e0e0ff;
  -moz-border-radius: 10px;
  margin: 1em .5em;
  padding: .2em .4em;
}

.competence-supporting-courses .skill {
  border: 1px solid #d0d0d0;
  background: #f0f0ff;
  padding: .2em .5em;
  margin: .5em 0em;
  font-size: small;
}

/*********************
  Sessions
 *********************/

.shibboleth-login {
  a {
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    border: 2px solid black;
    padding: 1em;
    @include border-radius(20px);
  }
  
  p {
    margin-bottom: 40px;
  }
}

.traditional-login {
  margin-top: 6em;
  color: gray;

  a {
    color: gray;
  }
}
