@import "general_mixins";




/* The plan */


.plan {
  position: relative;
  width: 100%;
  border: 1px solid gray;
  text-align: right;

  /* Text selection is disabled, so also disable the text selection cursor. */
  cursor: default;


  div.period {

    width: 100%;
    height: 58px;
    border-top: 1px solid #a0a0a0;
    padding: 0px;
    margin: 0px;
    cursor: pointer;

    h2 {  // FIXME: Deprecated?
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 100%;
      color: gray;
      margin: 0px;
      padding: 0px;
      z-index: 1;
    }

    /* Striped warning background */
    $warning_stripe: rgba(255, 0, 0, 0.55);
    &.warning {
      background-image: -webkit-linear-gradient(-45deg,
        $warning_stripe 25%,
        transparent 25%,
        transparent 50%,
        $warning_stripe 50%,
        $warning_stripe 75%,
        transparent 75%,
        transparent);
      background-image: -moz-linear-gradient(-45deg,
        $warning_stripe 25%,
        transparent 25%,
        transparent 50%,
        $warning_stripe 50%,
        $warning_stripe 75%,
        transparent 75%,
        transparent);
      background-image: -ms-linear-gradient(-45deg,
        $warning_stripe 25%,
        transparent 25%,
        transparent 50%,
        $warning_stripe 50%,
        $warning_stripe 75%,
        transparent 75%,
        transparent);
      background-image: -o-linear-gradient(-45deg,
        $warning_stripe 25%,
        transparent 25%,
        transparent 50%,
        $warning_stripe 50%,
        $warning_stripe 75%,
        transparent 75%,
        transparent);

      -webkit-background-size: 50px 50px;
         -moz-background-size: 50px 50px;
           -o-background-size: 50px 50px;
              background-size: 50px 50px;
    }

    &.now {
      background-color: #ddddff;
    }

    &.receiver {
      background-color: #e0ffe0;
    }

    &.old {
      background-color: #dddddd;
    }

    &.selected {
      color: white;
      border: 2px solid #0000ff;
      background: #6060e0;
    }

    .credits span {

      &.overbooked {
        color: #aa1111;
      }

      &.underbooked {
        color: #884444;
      }
    }
  }


  div.course {
    position: absolute;
    top: 0px;
    left: 0px;

    color:      #444;
    background: #ffeeee;
    border:     1px solid #aaaaaa;
    @include border-radius(4px);

    font-size:  small;
    padding:    3px 3px 3px 3px;
    margin:     0px;

    cursor:     move;
    width:      114px;
    height:     42px;
    text-align: left;
    /* z-index: 2; */

    overflow:       hidden;
    text-overflow:  ellipsis;

    &.locked {
      cursor: not-allowed;
    }

    img.course-locked {
      position: absolute;
      top:      2px;
      right:    2px;
      width:    10px;
    }

    &.instanced {
      background: #eeffee;
    }

    &.customized {
      border: 2px solid #ffaaaa;
    }

    &.passed {
      font-style: italic;
      color: #666;
      border: 1px solid #66ff66;
    }

    &.prereq-of, &.prereq-to {
      color: black;
      border: 2px solid black;
    }

    &.prereq-of {
      background: #aaffaa;
      border-bottom: 5px solid blue;
    }

    &.prereq-to {
      background: #eeaaee;
      border-top: 5px solid blue;
    }

    &.customized {
      border-right: 3px solid #ffaaaa;
    }

    &.misordered {
      background: #ffaaaa;
      border: 1px solid #880000;
    }

    &.selected {
      color: white;
      border: 2px solid #0000ff;
      background: #6666ee;
      z-index: 1; /* Make sure selected course is on top of other courses */
    }
  }

}




/* Left control elements */


#sidebar {

  #controls {
    margin-bottom: 2em;
  }

  .well h4 {
    line-height: 2em;
  }

  div.competence-li {

    cursor: pointer;

    &.selected {
      color: #0000ff;
      font-weight: bold;
      border: none;
      background: none;
    }
  }
}
