<!-- competences/show -->

<h1><%= @competence.profile.name(I18n.locale) %> - <%= @competence.name(I18n.locale) %></h1>

<ul>
  <% @competence.courses.each do |course| %>
    <li><%= course.name(I18n.locale) %></li>
  <% end %>
</ul>
