////////////////////////////////////////////////////////////////////////////////
// views/plans/competences/index.css.less
//
// Some Less spec for the related view.
//




////////////////////////////////////////////////////////////////////////////////
// Imports

@import "layouts/browser.less";
@import "views/plans/competences/shared.less";


////////////////////////////////////////////////////////////////////////////////
// View specific styling

// Rounded box that matches Bootstrap styling
.rounded-box
{
  .border-radius(0.4em);
  margin: 2em 1em 2em 1em;
  padding: 1.5em;
  border: 1px solid @linerColor;
}




////////////////////////////////////////////////////////////////////////////////
