////////////////////////////////////////////////////////////////////////////////
// views/plans/competences/shared.less

//@import "layouts/browser.less";
@import "core/mixins.less";


div.competence {
  h2 {
    /*font-size: 150%;*/
    margin-top: 0px;
  }

  li {
    margin-bottom: .5em;
  }

  /* Course that is already included in the plan */
  a.included {
    color: gray;
  }
  
  tr.chosen a {
    color: gray;
  }
 
 
  h3 {
    margin-top: 3ex;
    margin-bottom: 1ex;
  }
}

table {
  &.course-table, &.period-table {
    text-align: left;

    th, td {
      padding-right: 1em;
    }

    tr {
      .total {
        font-size: large;
        font-weight: bold;

        td {
          padding-top: 1em;
        }
      }
    }
  }

  &.course-table {
    font-size: small;

    tr.total {
      font-size: normal;
    }

    col {
      min-width: 5em;
    }
  }
}

// Rounded box that matches Bootstrap styling
.competence-list .competence {
  .border-radius(0.4em);
  margin: 2em 0em;
  padding: 1.5em;
  border: 1px solid #DDD;

  &.chosen {
    border: 3px solid #202060;
    background: #eeeeff;
  }
}


////////////////////////////////////////////////////////////////////////////////
