<hr />

<p>Use Bloom's Taxonomy for formulating the learning outcomes:</p>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Taso</th>
      <th>Määritelmä</th>
      <th>Avainsanoja</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tunnistaminen (Recognising)</td>
      <td>Opiskelija osaa tunnistaa, luetella ja määritellä asioita, käsitteitä, periaatteita niiden opetetussa muodossa ilman ymmärtämistä. Alin osaamisen taso.</td>
      <td>Tunnistaa, tietää muistinvaraisesti, luetella, määritellä</td>
    </tr>
    <tr>
      <td>Ymmärtäminen (Understading/comprehending)</td>
      <td>Opiskelija ymmärtää ja käsittää aiemmin oppimiaan asioita, käsitteitä ja periaatteita ilman syvällistä ymmärtämistä.</td>
      <td>Ymmärtää, käsittää, luokitella, valita, keskustella, raportoida</td>
    </tr>
    <tr>
      <td>Soveltaminen (Applying)</td>
      <td>Opiskelija osaa soveltaa oppimiaan asioita, käsitteitä ja periaatteita ongelmien ratkaisemiseen annetuilla tiedoilla kyeten valitsemaan sopivan mentelmän tai tavan.</td>
      <td>Soveltaa, ratkaista, hallita, operoida, käyttää hyväksi, valita, havainnollistaa</td>
    </tr>
    <tr>
      <td>Analysointi/arviointi (Analysing/evaluating)</td>
      <td>Opiskelija osaa analysoida, tarkastella ja jäsennellä ongelman ratkaisemisen eri vaiheet ja kykenee arvioimaan, tulkitsemaan ja veratailemaan kriittisesti eri mentelmien antamia tuloksia keskenään. Edellyttää syvällistä ymmärtämistä. Perusopintojen korkein osaamisen taso.</td>
      <td>Analysoida, tutkia, tarkastella, jäsentää, vertailla, luokitella, testata, arvioida, arvostella, perustella, väitellä, päättää, ymmärtää syvällisesti</td>
    </tr>
    <tr>
      <td>Luominen/kehittäminen (Creating/synthesising)</td>
      <td>Opiskelija osaa luoda, kehittää, suunnitella ja rakentaa uusia teorioita, malleja, menetelmiä tai tuotteita tai yhdistellä olemassa olevia periaatteita, käsitteitä ja tietoja uudella tavalla. Jatko-opintojen korkein osaamisen taso.</td>
      <td>Luoda, kehittää, suunnitella, rakentaa, johtaa</td>
    </tr>
      
  </tbody>
</table> 
