<h1>
  <%= t(:courses_heading) %>
</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Credits</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.course_code + ' ' + course.localized_name, curriculum_course_url(:id => course.id) %></td>
        <td><%= course.credits %></td>
        <td>Planned</td>
      </tr>
    <% end %>
  </tbody>
</table>
