<head>
    <meta charset="UTF-8">
    <title>
      <% if content_for?(:title) -%>
        <%=  yield(:title) %> -
      <% end -%>
      O4
    </title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application", :media => 'all' %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
</head>
